<h2>ログイン</h2>
<%= form_with scope: resource_name, url: session_path(resource_name), html: { class: "needs-validation" } do |f| %>
  <div class="mb-3">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check mb-3">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, "記憶しますか？", class: "form-check-label" %>
    </div>
  <% end %>

  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>

<div class="mt-3">
  <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name) %><br>
  <%= link_to "新規登録", new_registration_path(resource_name) %>
</div>